@import url("reset.css");
body{position: relative;}

/* 섹션 블라인드 영역 */
.blind{
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

/* skip 영역 */
.skip a{
    position: absolute;
    background:linear-gradient( to right, #0163cc, #af13c7 );
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    z-index: 100;
    line-height: 30px;
    top: -30px;
    opacity: 0;
}

/* header 영역 */
.header-top-wrap{min-width:1120px; background-color:#0163cc;  background: linear-gradient( to right, #0163cc, #af13c7 );}
.header-top{max-width:1120px; margin:0 auto; padding:10px 0;}
.top-menu-list{float: right;}
.top-menu-list li{float: left; font-size:13px; padding:0 10px; border-right:1px solid #fff;}
.top-menu-list li:last-child{border:0;}
.top-meun a{color:#fff;}
.top-meun{border-bottom: 1px solid rgba(0, 0, 0, 0.0);padding-bottom: 2px;}
.top-meun:hover{border-bottom: 1px solid #fff; }
.search-txt{float: right;}

/* main section 영역 */
.section-wrap{position:relative; min-width:1120px;height:calc(100vh - 91px);}
.nav-wrap{background-color: #fff; min-width: 1120px; }
.header-mian{max-width:1120px; margin:0 auto; position: relative; }
.main-logo a img{padding:15px 15px 15px 0;}
.main-menu-list li{ margin-top:15px; position: relative;}
.main-menu-list li a{ padding:15px;}
.main-logo, .main-menu-list li{float: left;}
.main-menu-list{font-size:18px; color:#333; letter-spacing: -0.025em; margin-left:-15px;}
.main-menu-right{float: right;}
.main-menu-right li{float: left; border-right: 1px solid #ccc;}
.main-menu-right li:last-child{border: 0;}
.blue-bar{width:0;}

/*사이드 스크롤 메뉴 영역*/
section{height: calc(100% - 91px); width:100%; z-index: -1;}
.scroll-menu{position: fixed; top:240px; left: 30px; color:#fff; position: relative; display: inline-block;}
.scroll-menu-list{position: fixed; top: 230px; left: 20px; margin-top: -18px; z-index: 1;}
.scroll-menu-list:after{content: ""; display: inline-block; background: url(images/ico_pxnavi_scroll_white.png) no-repeat; width:31px; height:61px; position: absolute; bottom: -100px;}
.scroll-menu-list li{margin-top:18px;}
.section-menu:before{position: relative;}
.scroll-menu-list li a span{color:rgb(255, 255, 255); font-weight: 600; font-size:14px; letter-spacing: -0.5px; padding-bottom:3px; border-bottom: 1px solid rgba(0, 0, 0, 0.0);}
.scroll-menu-list li a span:hover{border-bottom: 1px solid #fff;}
.scroll-menu-list li a:before {content:""; display:inline-block; margin-right:8px; width:8px; height:9px; background: url(https://www.kdb.co.kr/img/main/bul_pxnavi.png) no-repeat right 0;}
.scroll-menu-list li a.active:before {background-position: left bottom;}
.scroll-icon{position: absolute; bottom: -99px; height:61px; width:31px; overflow: hidden;}

/* main banner영역 */
.main-banner-wrap{color:#fff; width: 1120px; margin: 0 auto;}
.main-banner-wrap > div{display: inline-block;}
.banner-indicator{display: inline-block; position: absolute; top:260px; z-index: 1; margin-left: -20px; }
.banner-indicator li{float: left;}
.banner-indicator li + li:before{content:"/"; display:inline-block;}
.banner-indicator li .num-effec{padding:0 20px; cursor: pointer; border-bottom: 1px solid rgba(255, 255, 255, 0); float: right;}
.banner-indicator li a{color:#fff;}
.banner-content-item .banner-content{position: absolute; z-index: 1; top:310px;}
.banner-content-item .banner-content > span{font-weight: 600; font-size: 20px; display: block;}
.banner-content-item .banner-content > strong{font-weight: 600; font-size: 58px; letter-spacing: -0.06em; line-height: 80px;}
.banner-content-item .banner-content > p{margin-top:30px; line-height: 25px;}
.main-bg-banner {position: absolute; top: 0; left: 0; min-width: 1120px; width:100%; height: 100%; overflow:hidden;}
.main-bg-banner img{position: absolute; top: 0; left: 50%; transform: translateX(-50%); min-width:100%;}

/* main direct menu영역 */
.direct-menu{position: relative; width:1120px; margin:0 auto;}
.direct-menu .direct-menu-inner{color:#fff; width:268px; height:440px; background: url(images/bg_quick.png) no-repeat;  position: absolute; right:0; top:180px;}
.direct-menu .bg-menu{position: absolute; top:99px; right: 0px;}
.top-btn{width:220px; margin:30px auto;}
.top-btn .top-login-btn > a > .login-icon:before{content:""; display: inline-block; padding-right:10px;  width:22px; height:24px; background: url(images/ico_login.png) no-repeat; cursor: pointer;}
.top-btn .top-login-btn > a, .top-btn .top-login-btn > a > .login-icon:before{float: left; }
.top-btn li{ float: left; width: 50%;  text-align: center;}
.top-btn li a span{padding-bottom:3px; border-bottom: 1px solid rgba(0, 0, 0, 0.0);}
.top-btn li a span:hover{border-bottom: 1px solid #fff;}
.top-btn li + li:before{content: ""; border-right:1px solid #fff; color:#fff; margin-right:30px;}
.top-btn li span{display: inline-block; cursor: pointer; margin: 4px 0; color:#fff;}
.bot-btn li{width:50%;  float: left; text-align: center; cursor: pointer; margin-top: 28px;}
.bot-btn .bot-btn-item{display: inline-block; padding-bottom: 5px; border-bottom:1px solid rgba(255, 255, 255, 0.0);}
.bot-btn .bot-btn-item .acc:before{content:""; background: url(images/ico_quick_1.png) no-repeat center center; width:36px; height:36px; display: inline-block;}
.bot-btn .bot-btn-item .move:before{content:""; background: url(images/ico_quick2.png) no-repeat center center; width:36px; height:36px; display: inline-block;}
.bot-btn .bot-btn-item .new-acc:before{content:""; background: url(images/ico_quick3.png) no-repeat center center; width:36px; height:36px; display: inline-block;}
.bot-btn .bot-btn-item .card:before{content:""; background: url(images/ico_quick4.png) no-repeat center center; width:36px; height:36px; display: inline-block;}
.bot-btn .bot-btn-item .quick-search:before{content:""; background: url(images/ico_quick5.png) no-repeat center center; width:36px; height:36px; display: inline-block;}
.bot-btn .bot-btn-item .customer-pro:before{content:""; background: url(images/ico_quick6.png) no-repeat center center; width:36px; height:36px; display: inline-block;}
.bot-btn .bot-btn-item span{display: block; color:#fff; margin-top:15px;}

/* Main 하단 공지영역 */
.notice-wrap{position: absolute; left: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); width:100%;}
.notice-wrap .notice-content{max-width:1120px; margin:0 auto;}
.notice-wrap .notice-content > div{width:50%; float: left; padding:20px 20px 20px 90px; box-sizing: border-box; text-align: center; color:#fff; font-weight: 600; position: relative;}
.notice-wrap .notice-content > div .notoce-tit{position: absolute; top:20px; left: 0;}
.notice-wrap .notice-content > div .notoce-list{width:93%;}
.notice-wrap .notice-content > div .notoce-tit, .notice-wrap .notice-content > div .notoce-list{float: left;}
.notice-wrap .notice-content > div .notoce-tit span:after{content:">"; display: inline-block; padding-left: 7px;}
.notice-wrap .notice-content > div .notoce-tit > a{color:#fff;}
.notice-left .notoce-tit,.notice-right .notoce-tit{padding-bottom:3px;}
.notice-left .notoce-tit:hover,.notice-right .notoce-tit:hover{border-bottom: 1px solid #fff;}
.notoce-list {margin-top:-10px;}
.notoce-list > li{margin-top:10px;}
.notoce-list > li > a{color:#fff;}
.notoce-list > li > a > div{float: left;}
.notoce-list > li > a .notice-content{
    cursor: pointer; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.0); 
    padding-bottom: 3px; 
    width:300px; 
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space: normal; 
    line-height: 1.2; 
    height: 1em; 
    text-align: left; 
    word-wrap: break-word; 
    display: 
    -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.notoce-list > li > a .notice-content:hover{border-bottom: 1px solid rgba(255, 255, 255, 1); padding-bottom: 3px;}
.notoce-list > li > a .notoce-date{float: right;}

/* 스크롤 가이드 영역 */
.scroll-guide{position: absolute; top:-60px; width:100%; text-align: center; color:#fff; font-weight: 600; font-size:14px;}
.scroll-guide > span{display: block;}
.scroll-guide .scroll-guide-icon{
    position: absolute; 
    top:28px; 
    left: 50%; 
    transform: translateX(-50%);
    -webkit-animation: scGuideAni 0.7s ease-in-out infinite;
	animation: scGuideAni 0.7s ease-in-out infinite;
}
@-webkit-keyframes scGuideAni {0%{top: 36px;}50%{top:28px;}100%{top: 36px;}}
@keyframes scGuideAni {0%{top: 36px;}50%{top:28px;}100%{top: 36px;}}
.scroll-guide .scroll-guide-icon:after{content:""; display: inline-block; background: url(images/ico_scroll_guide-white.png) center center no-repeat; width:10px; height: 14px;}

/* News & Event 본문 시작 */
.news-section{display: table; background-color: rgb(245, 245, 245);}
.news-section .table-inner{display: table-cell; vertical-align: middle;}
.section-list{width: 1120px; margin: 0 auto; padding:140px 0;}
.section-title{text-align: center; font-size:36px; color:#333; margin-bottom:50px;}
.news-wrap{margin:60px -3% 0; position: relative;}
.news-wrap .news-inner{ width:33.333%; float: left; padding: 0 3% 3% 3%; box-sizing: border-box;}
.news-wrap .news-inner + .news-inner{border-left: 1px solid #ccc;}
.news-inner .news-mainBanner{display: inline-block;}
.news-main .news-title a{
    font-size: 20px;
    white-space: normal; 
    line-height: 1.2; 
    height: 2.4em; 
    text-align: left; 
    word-wrap: break-word;
    display: 
    -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.news-inner > div + div:before{content: ""; width:100%; display: inline-block; border-top:1px solid #ccc; margin:20px 0;}
.list-title > a{color: #0063cc; padding-bottom: 4px; border-bottom: 2px solid #0063cc; display: inline-block;}
.news-wrap .news-list{margin-top:20px;}
.news-list .news-title{width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #333;}
.news-list .news-date{color: #777; margin-top:10px;}
.news-list > li {margin-top:30px;}
.news-bottom{margin-top:60px;}
.news-menu{display: table; border:5px solid #fff; border-radius: 5px; float: left; position: relative;}
.news-menu .news-menu-list{display: inline-block; }
.bold-icon{display: table-cell; vertical-align: middle;}
.bold-icon:before{content:""; display: inline-block; border-right: 1px solid #ccc; padding:0 20px; background: url(images/ico_boldbox.png) center center no-repeat; width: 22px; height:35px;}
.news-menu .news-menu-list > li{float: left; margin:35px 50px;}
.news-banner{position: relative; float: right;}
.news-banner .news-banner-indicator{position: absolute; right:5px; top:5px;}
.news-banner .news-banner-indicator li{position: relative; float: left; width:2px; height:2px; padding: 10px;}
.news-banner .news-banner-indicator li a:before{
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    right: 6px;
    bottom: 6px;
    background-color: #000;
    opacity: 0.2;
    
    border-radius: 50%;
}
.news-banner .news-banner-list{display: inline-block;}
.drop-menu:before{
    content:""; 
    display: inline-block;    
    right: -20px;
    top: 10px;
    width: 1px;
    height: 1px;
    border-top: 5px solid rgba(102,102,102,1);
    border-right: 5px solid rgba(0,0,0,0);
    border-bottom: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    vertical-align: middle;
}
.open .drop-menu:before{border-top: 5px solid rgba(0,0,0,0); border-bottom: 5px solid rgba(102,102,102,1); vertical-align: top;}
.disclosure-popup-wrap{
    background-color: rgb(255, 255, 255);
    border:1px solid #aaa;
    position: absolute;
    right:0;
    top: -180px;
    display: none;
}
.disclosure-popup-wrap:after{content:""; display: inline-block; background: url(images/bg_drop_menu.png) no-repeat ; width:14px; height:8px; position: absolute; left: 50%; transform: rotate(180deg);}
.close-btn:before{content:""; display: inline-block; border-top: 1px solid #ccc; position: absolute; right:15px; left: 15px;}
.disclosure-popup{padding:10px 0;}
.disclosure-popup li a{color:#999; padding:15px; display: block;}
.disclosure-popup li a:hover{background-color: rgb(252, 247, 247)}
.disclosure-popup-wrap .close-btn{text-align: center; }
.disclosure-popup-wrap .close-btn a{color:#999; padding:12px 0; display: block;}
.disclosure-popup-wrap .close-btn a:hover{color:#0163cc;}
.close-btn .close-icon:before{content:"X"; display: inline-block;color:#999; padding-right:10px;}

/* special KDB 본문 시작 */
.special-section{background-color: rgb(241, 238, 235); min-width: 1120px;}
.fixed-banner{margin: 0 -20px;}
.fixed-banner > li{float: left; padding: 0 17px; box-sizing: border-box; width:50%;}
.rolling-banner > li{float: left; padding: 0 17px; box-sizing: border-box;}
.spcial-banner .banner-wrap {position: relative; border-radius: 10px; overflow: hidden; display: table; table-layout: fixed;}
.spcial-banner .banner-wrap > div{display: table-cell;vertical-align: middle;}
.spcial-banner .banner-wrap .banner-img img{width:100%;}

.banner-wrap .banner-content{display: table; background: url(images/bg_special_box.png) no-repeat; height:221.55px; width:273px; text-align: center;}
.banner-wrap .banner-content{display: table; background: url(images/bg_special_box.png) no-repeat; height:221.55px; width:273px; text-align: center;}
.banner-wrap .banner-content{display: table; background: url(images/bg_special_box.png) no-repeat; height:221.55px; width:273px; text-align: center;}
.banner-wrap .bg-icon:before{content:""; display: inline-block; background: url(images/bg_special_box_arr.png) no-repeat center center; width:20px; height: 40px; position: absolute; left: 50%; top:50%; transform: translate(-50%, -50%);}
.rolling-banner .banner-wrap .banner-content{background-color: #fff;}
.rolling-banner .banner-wrap .none-backgound{background: none; text-align: left; padding-left: 45px;}
.banner-wrap .banner-content .content-inner{display: table-cell; vertical-align: middle;}
.banner-wrap .banner-img{display: inline-block;}
.banner-content > span{font-size:12px; color:#666; display: block; padding-bottom: 10px;}
.banner-content > strong{font-size:20px; font-weight: 600; color:#333; line-height: 30px;}
.banner-content > p{color:#666; line-height: 25px; margin-top:10px;}

.spcial-banner-wrap{position: relative; margin-top:40px; height:224px; }
.spcial-banner-wrap .arrow-btn{z-index: 1; position: absolute; width:54px; height:54px; top: 50%; transform: translateY(-50%); border-radius: 30px; background: rgba(255, 255, 255, 0.8); box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.2); display: table;}
.spcial-banner-wrap .arrow-btn button {cursor: pointer; display: table-cell; vertical-align: middle; text-align: center; width: 100%; height:100%;}
.spcial-banner-wrap .arrow-btn button img{display: inline-block;}
.spcial-banner-wrap .left-btn{ top: 50%; left: -30px; transform: translateY(-50%); padding:0;}
.spcial-banner-wrap .right-btn{top: 50%; right:-30px; transform: translateY(-50%); padding:0;}
.banner-hidden-box{position: absolute; overflow: hidden;height:inherit; position: relative;}
.banner-hidden-box .rolling-banner{margin: 0 -20px; position: absolute; left: 0;}
.rolling-menu-wrap{position: relative; width:1120px; height:100px; overflow: hidden; background-color: rgb(255, 254, 247); padding:0 60px; margin-top:40px; box-sizing: border-box;}
.rolling-menu-wrap li{float: left; text-align: center; margin: 35px 0; padding:0 58px;}
.rolling-menu-wrap li + li{border-left:1px solid #ccc;}
.rolling-menu-wrap li a{display: inline-block;}
.rolling-menu-wrap .left-btn{position: absolute; top: 50%; left: 20px; transform: translateY(-50%);}
.rolling-menu-wrap .right-btn{position: absolute; top: 50%; right:20px; transform: translateY(-50%);}
.rolling-menu-wrap .rolling-menu{width:200%; position: absolute; left: 0;}
.rolling-banner{ width:300%;}

.menu-hidden-box{position: absolute; overflow: hidden;height:inherit; width:100%; position: relative;}

.tmmbll-icon:before{content:""; display: inline-block; padding-right:15px; background: url(images/cms_ico_tmmbll.png) center center no-repeat; width:30px; height:30px;}
.cemnmn-icon:before{content:""; display: inline-block; padding-right:15px; background: url(images/cms_ico_cemnmn.png) center center no-repeat; width:30px; height:30px;}
.chefmn-icon:before{content:""; display: inline-block; padding-right:15px; background: url(images/cms_ico_chefmn.png) center center no-repeat; width:30px; height:30px;}
.ngmnmn-icon:before{content:""; display: inline-block; padding-right:15px; background: url(images/cms_ico_tmmbll.png) center center no-repeat; width:30px; height:30px;}

.rolling-menu-text{float: right; margin-top:7px; color:#666;}

/* 기업금융정보 본문 시작 */
.finance-section-wrap{background-color: #ccc;}
.finance-section-wrap .section-list{position: relative;}
.finance-section-wrap .section-list .people-obj{top:0; width:100%; height:100%;}
.people-obj > div{position: absolute;}
.people-obj .people0{top:300px; right: -140px;}
.people-obj .people1{top:380px; left: 10px;}
.people-obj .people2{top:420px; left: 90px;}
.people-obj .people3{top:480px; left: -30px;}
.people-obj .people4{top:450px; left: 55px;}
.finance-section{text-align: center;}
.finance-section .text-content{text-align: center;}
.finance-section .text-content span{display: block; font-size: 18px;}
.finance-section .text-content strong{font-size: 54px; line-height: 65px; margin-top:14px; display: inline-block;}
.finance-section .text-content p{ line-height: 22px; color:#999; margin-top:26px;}
.finance-section .finance-search{display: inline-block; margin-top:40px;}
.finance-section .center-img{margin-top:30px;}
.finance-search .input-wrap{float: left;}
.finance-search .input-wrap .search{box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.1); border: 0px; border-radius: 5px 0 0 5px;  width:537px; height:60px; padding:20px; box-sizing: border-box; font-size:16px; font-weight: 600; color: #666;}
.finance-search .input-wrap .search::placeholder{color:#999;}
.finance-search button .search-icon:before{content:""; display: inline-block; background: url(images/ico_search.png) no-repeat center center; width: 30px; height:26px; position: absolute; top:50%; left: 30px; transform: translateY(-50%);}
.finance-search button{cursor: pointer; position: relative; background: url(images/btn_search_2.png) right 0; height: 60px; color:#fff; font-weight: 600; padding:0 20px 0 69px;}

.finance-menu-wrap{position: relative; z-index: 1;}
.finance-menu{margin-top:20px;}
.finance-menu li + li{ padding-left:70px;}
.finance-menu li{display: inline-block; vertical-align: top;}
.icon-wrap > span{display: block; color:#666; font-weight: 600; line-height: 23px; margin-top:15px;}
.icon-wrap .hexagon{position: relative; width: 86px; height: 90px;}
.icon-wrap .hexagon .finance-icon:before{
    content:""; 
    display: inline-block; 
    background: url(images/ico_info_0.png) no-repeat left 0; 
    width:86px; 
    height:90px; 
    position: absolute; 
    top:0; 
    left: 0; 
    z-index: 1;
}
.icon-wrap .hexagon > span{background-color: #fff; width:100%; height:38px; position: absolute; top:50%; left: 0; transform: translateY(-50%);}
.icon-wrap .hexagon > span:before{
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 54px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: 16px;
    transform: rotate(30deg) skew(-30deg);
    border-radius: 10px;}
.icon-wrap .hexagon > span:after{
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 54px;
    height: 50px;
    position: absolute;
    bottom: -24px;
    left: 16px;
    transform: rotate(31deg) skew(-30deg);
    border-radius: 10px;
}


